.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies {
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 8px;
  text-align: center;
  list-style: none;
  margin: 1rem;
}

ul li h3 {
  height: 2rem;
  margin-bottom: 1rem
}

ul li img {
  height: 300px;
}

main .no-movies {
  display: block;
  text-align: center;
}

label[for='query'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sort-check-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
}
